
name: ci-webhook-test

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    container:
      image: archlinux
    steps:
      - run: pacman -Syyu --noconfirm base-devel python3 nano neofetch nginx curl
      - run: python3 -VVVVVV
      - run: curl -v https://kalka.io
  build-2:
    runs-on: self-hosted

    container:
      image: archlinux
    steps:
      - run: echo hello
